.countdownsection {
  width: 100%;
  height: 100vh;
  background-color: #f6fbf9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 20px;
  color: #555;
  margin-bottom: 60px;
}


.timesbox {
  display: flex;
  gap: 80px;
}


.time h2 {
  font-size: 64px;
  color: #e11d48;
  margin-bottom: 10px;
}

.time p {
  font-size: 18px;
  color: #000;
}


