.schedule {
  padding: 80px 100px;
  background-color: #ffffff;
}


.scheduletitle {
  text-align: center;
  margin-bottom: 40px;
}

.toptext {
  color: #e11d48;
  letter-spacing: 2px;
  font-size: 14px;
}

.scheduletitle h1 {
  font-size: 48px;
  margin-top: 10px;
}


.dates {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.date {
  padding: 18px 40px;
  background-color: #f1f5f3;
  border-radius: 14px;
  font-size: 18px;
}

.date.active {
  background-color: #e11d48;
  color: white;
  position: relative;
}


.card {
  background-color: #f6fbf9;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

.card img {
  width: 260px;
  border-radius: 20px;
}


.cardcontent h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.cardcontent p {
  color: #555;
  margin-bottom: 10px;
}

.time {
  color: #15803d;
}


.book {
  margin-left: auto;
  background-color: #22c55e;
  color: white;
  border: none;
  padding: 5px 32px;
  border-radius: 14px;
  font-size: 16px;
}


