.footer {
  background: radial-gradient(circle at top, #1b4d3e, #0b1f18);
  color: #ffffff;
  padding: 80px 70px 30px;
  font-family: Arial, sans-serif;
  position: relative;
}

.footercontent {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}


.footerleft {
  flex: 1.2;
}

.footerlogo {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footertext {
  line-height: 1.8;
  color: #d1d5db;
}

.footerlinks {
  margin-top: 30px;
}

.footerlinks a {
  margin-right: 20px;
  color: #d1d5db;
  text-decoration: none;
  font-size: 14px;
}


.footermiddle {
  flex: 1;
}

.footermiddle h3 {
  margin-bottom: 20px;
}

.label {
  font-weight: 600;
  margin-bottom: 8px;
}

.email {
  color: #d1d5db;
  margin-bottom: 30px;
}

.followtitle {
  margin-top: 40px;
}

.socialicons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.socialicons span {
  width: 45px;
  height: 45px;
  background-color: rgba(255,255,255,0.15);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}


.footerright {
  flex: 1.2;
}

.footerright p {
  color: #d1d5db;
  margin: 15px 0 25px;
}

.footerright label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

.footerright input {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
}

.subscribebtn {
  width: 100%;
  padding: 16px;
  border-radius: 14px;
  border: none;
  background-color: #e11d48;
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
}


.footerbottom {
  border-top: 1px solid rgba(255,255,255,0.2);
  margin-top: 60px;
  padding-top: 20px;
  text-align: center;
  color: #d1d5db;
}

.footerbottom strong {
  color: #e11d48;
}
