
.registersection {
  background-color: #e11d48;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding: 80px 20px;
  position: relative;
  overflow: hidden;
}


.smalltext {
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 15px;
}


.registersection h1 {
  font-size: 48px;
  margin-bottom: 50px;
}


.formbox {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.formbox input {
  padding: 18px 20px;
  width: 250px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
}


.formbox button {
  padding: 18px 40px;
  border: none;
  border-radius: 12px;
  background-color: #22c55e;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.formbox button:hover {
  background-color: #16a34a;
}


.snow::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(white 2px, transparent 2px);
  background-size: 60px 60px;
  opacity: 0.7;
}
